\__pycashe__
\.venv
\login_to_HR.ipynb
\DonePath
\ProcessPath
\SourcePath\'כביש_6_הייווייז_ברייטקום_1-4.25.csv'
\SourcePath\'כביש_6_הייווייז_ברייטקום_1-4.25.xlsx'
\SourcePath\'כביש_6_הייווייז_שמעוני_1-4.25.xlsx'
\SourcePath\'מנהרות_הכרמל_ברייטקום_1-4.25.xlsx'
\SourcePath\'מנהרות_הכרמל_שמעוני_1-4.25.xlsx'
\SourcePath\'מצבת_כלי_רכב_שמעוני+ברייטקום.xlsx'
\SourcePath\'סלופארק_ברייטקום_1-4.25.xlsx'
\SourcePath\'סלופארק_שמעוני_1-4.25.xlsx'
\SourcePath\'פירוט נסיעות בכביש 6 חוצה צפון לפי חשבוניות 1-3.25_שמעוני.xlsx'
SourcePath\'kvish6highways_brightcom_1-4.25.csv'